li {
    color: #333;
    font-size: 0.9em;
}

li:hover {
    color: teal;
    cursor: pointer;
}

li.active {
    color: teal;
}

li.active::after {
    width: 85%;
    left: 5px;
}

.top-container {
    background-color: #fff;
}

.top {
    min-height: 60px;
    overflow: auto;
    padding: 0 16px 6px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.orca-logo-word {
    color: #1b49a0;
    float: left;
    font-size: 52px;;
    font-weight: 700;
    cursor: pointer;
}

.menu-container {
    float: right;
    padding: 14px 14px 0 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 2px 10px 0 0;
    float: left;
}

.dropdown {
    overflow: hidden;
    float: left;
}

.menu-item {
    padding: 10px;
    color: #333;
    display: block;
    position: relative;
}

.menu-item:after {
	position: absolute;
    left: 50%;
	content: '';
	height: 4px;
    background: teal;
    transition: all 0.15s linear;
    width: 0;
    bottom: 0;  
}

.menu-item:hover:after {
    width: 100%;
    margin-left: -50% 
}

.menu-item-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: auto;
    border-top: 1px solid #f4f4f4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.menu-item-content a:hover {
    background-color: #ddd;
}

.dropdown:hover > .menu-item-content {
    display: block;
}

.menu-sub-item {
    display: block;
    height: auto;
    padding: 10px;
}

.hamburger {
    display: none;
    float: right;
    margin: 4px 10px 0 0;
    height: 32px;
    width: 32px;
    cursor: pointer;
    background-color: #1b49a0;
    -webkit-mask: url(assets/images/hamburger.svg) no-repeat 50% 50%;
    -webkit-mask-size: 90% 90%;
}

.btn-container {
    float: left;
    padding: 6px 0 0 10px;
}

.sub-page {
    background: #1b49a0;
}

.sub-page-logo {
    color: white;
}

.sub-page-menu-item {
    color: white;
}

.sub-page-register {
    background: teal;
}

.sub-page-register:hover {
    background: #006666;
}

.sub-page-login {
    background: white;
    border: 0;
}