<div class="top">
    <div class="orca-logo-word" [routerLink]="['']" >orca</div>
    <div class="hamburger"></div>
    <div class="menu-container">
        <ul class="menu">
            <div class="dropdown">
                <li class="menu-item"><a href="#">Get a Card</a></li>
            </div>
            <div class="dropdown">
                <li class="menu-item"><a href="#">Have a Card</a></li>
                <div class="menu-item-content">
                    <a class="menu-sub-item" href="#">Registered Cards</a>
                    <a class="menu-sub-item" href="#">Unregistered Cards</a>
                </div>
            </div>
            <div class="dropdown">
                <li class="menu-item"><a href="#">Customer Service</a></li>
                <div class="menu-item-content">
                    <a class="menu-sub-item" href="#">Pierce Transit</a>
                    <a class="menu-sub-item" href="#">Washington State Ferries</a>
                    <a class="menu-sub-item" href="#">Sound Transit</a>
                    <a class="menu-sub-item" href="#">ORCA Regional Call Center</a>
                    <a class="menu-sub-item" href="#">Everett Transit</a>
                    <a class="menu-sub-item" href="#">King County</a>
                    <a class="menu-sub-item" href="#">Washington State Ferries</a>
                    <a class="menu-sub-item" href="#">ORCA To-Go</a>
                </div>
            </div>
            <div class="dropdown">
                <li class="menu-item"><a href="#">FAQ</a></li>
                <div class="menu-item-content">
                    <a class="menu-sub-item" href="#">Add Value</a>
                    <a class="menu-sub-item" href="#">About Your Card</a>
                    <a class="menu-sub-item" href="#">Lost Card</a>
                    <a class="menu-sub-item" href="#">Fare</a>
                    <a class="menu-sub-item" href="#">Glossary</a>
                </div>
            </div>
        </ul>
        <div class="btn-container">
            <button class="btn">Register</button>
            <button class="btn btn-white" [routerLink]="['login']" routerLinkActive="active">Login</button>
        </div>
    </div>
</div>
