<div class="get-card-container">
    <div class="get-card">
        <h1>Get a Card</h1>
        <div class="grid" style="margin: 30px 0">
            <div class="cell">
                <div *ngIf="imageLoaded" [@flyInOut]="imageLoaded" class="card-container">
                    <div style="margin: auto">
                        <img class="card-img" src="assets/images/online.jpg"/>
                    </div>
                    <h2>Online</h2>
                    <p class="card-description">
                        Order an unregistered adult card online. These are the only ORCA cards that may be ordered online. Other card types
                        require proof of eligibility.
                    </p>
                    <button class="btn">Order</button>
                </div>
            </div>
            <div class="cell">
                <div *ngIf="imageLoaded" [@flyInOut]="imageLoaded" class="card-container">
                    <div style="margin: auto">
                        <img class="card-img" src="assets/images/mail.jpg"/>
                    </div>
                    <h2>By Mail</h2>
                    <p class="card-description">
                        Order an adult or senior card by mail. Print and complete the form. A 
                        <a href="https://www.soundtransit.org/sites/default/files/orca_card_order_value_form.pdf">proof
                        of age</a> for senior or youth orders will need to be included with the order.
                    </p>
                    <button class="btn">Print</button>
                </div>
            </div>
            <div class="cell">
                <div *ngIf="imageLoaded" [@flyInOut]="imageLoaded" class="card-container">
                    <div style="margin: auto">
                        <img class="card-img" src="assets/images/person.jpg"/>
                    </div> 
                    <h2>In Person</h2>                   
                    <p class="card-description">
                        Buy all card types at your <a href="https://orcacard.com/ERG-Seattle/p2_002.do?m=42&i=kb.agencyContact">local transit agency</a>.
                        Adult cards can be bought at participating retailers.
                    </p>
                    <button class="btn">Retailers</button>
                </div>
            </div>
        </div>
    </div>
    <!-- dummy image loader to trigger animation -->
    <div class="mimic-hidden">
        <img (load)="onLoad(1)" class="card-img" src="assets/images/person.jpg"/>
    </div>
</div>

<div style="width: 100%; background: gainsboro" class="reduced-fair-container">
    <div class="reduced-fair" style="max-width: 1200px; margin: auto; padding: 30px 20px 60px;">
        <h2 style="color: #333">Reduced Fare Cards</h2>
        <p> Proof of eligibility</p>
        <ul>
            <li>Youth (age 6 to 18) requires proof of age. May be ordered by mail. Card cost is $5.</li>
            <li>Senior RRFP* (age 65 or older) requires proof of age. Card cost is $3. May be ordered by mail.</li>
            <li>Disabled RRFP* requires proof of disability or a valid Medicare card. Card cost is $3. Issued in person as a photo is taken.</li>
            <li>Low income requires proof of income.</li>
            <ul>
                <li>In King County contact <a href="http://metro.kingcounty.gov/programs-projects/reduced-fare-program/">King County Metro</a>.</li>
                <li>In Kitsap County contact <a href="http://www.kitsaptransit.com/fares/regional-reduced-fare">Kitsap Transit</a>.</li>
            </ul>
        </ul>
        <p style="font-size: .9em; margin: 10px 0 0 0">
            *A Regional Reduced Fare <a href="http://www.soundtransit.org/sites/default/files/orca_rrfp_app.pdf">Permit</a> card is required for senior or disabled passengers paying a reduced fare. Medicare cardholders are eligible for the permit. 
            Contact your local transit agency.
        </p>
    </div>
</div>