<div class="footer">
    <div class="footer-line grid footer-grid">
        <div class="footer-cell">
          <!-- todo: bind links -->
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_privacy.pdf" target="_blank">{{ privacy }}</a> 
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_terms.pdf" target="_blank">{{ termsOfUse }}</a> 
            <a class="footer-link" href="https://orcacard.com/ERG-Seattle/p2_002.do?m=42&i=kb.news" target="_blank">{{ news }}</a> 
            <a class="footer-link" href="http://www.orcacard.biz/ERG-Seattle-Institution" target="_blank">{{ businessAccounts }}</a>
        </div>
        <div class="footer-cell">
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_chinese.pdf" target="_blank">中文 | Chinese </a> 
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_korean.pdf" target="_blank">한국 | Korean </a> 
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_russian.pdf" target="_blank">Русский | Russian</a>  
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_spanish.pdf" target="_blank">Español | Spanish</a>  
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_tagalog.pdf" target="_blank">Tagalog</a> 
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_vietnamese.pdf" target="_blank">Tiếng việt | Vietnamese</a>
        </div>
    </div>
    <div class="footer-line">{{ notReal }}<a class="footer-link" style="padding: 0; font-size: 1em;" href="https://orcacard.com">orcacard.com</a></div>
    <div style="width: 100%"><img class="digi-cert" src="assets/images/digicert.png"/></div>
</div>