@keyframes line-animation {
    from {
        left: 50%;
        width: 0%;
    }
    to {
        left: 5%;
        width: 100%;
    }
}

.login-container {
    height: 100vh;
    background: #f9f9f9;
}

.forgot-password-container {
    float: right;
    margin-top: 10px;
}

.login {
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 80%;
    border-radius: 5px;
    padding: 20px 50px;
}

.header {
    color: #1b49a0;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
}

input[type=text], input[type=password] {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    font: 13px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
}

.username-container {
    margin-bottom: 40px;
}

.login-link {
    font-size: .9em;
    font-weight: bold;
    text-decoration: none;
    color: teal;
}

.login-link:hover {
    color: #006666;
}

.login-btn {
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 2px;
    font-weight: bolder;
    background: teal;
    color: white;
    font-size: 1.25em;
    font-family: inherit;
    cursor: pointer;
}

.login-btn:hover {
    background: #006666;
}

.login-btn:disabled, .login-btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
}

.login-btn:disabled:hover, .login-btn[disabled]:hover {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
}

.regular-checkbox {
	background-color: inherit;
	border: 1px solid #666;
}

.regular-checkbox:checked {
	background-color: inherit;
    color: #1b49a0;
}

.regular-checkbox:checked:after {
	color: #1b49a0;
}

.remember-me-container {
    display:inline-block;
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.remember-me-label-container {
    float: left;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    margin: 0 0 0 35px;
}

.alert-danger {
    font-size: .9em;
    margin: 5px 0 0 2px;
    color: #cc0000;
}

.input-danger {
    border-color: #cc0000 !important;
}