<div class="login-container">
    <div class="login">
        <h1 [routerLink]="['']" class="header" title="Go back to homepage">orca</h1>
        <input class="" type="text" placeholder="Username"/>
        <input class="" type="text" placeholder="Password" style="margin-bottom: 20px"/>
        <div style="float: right">
          <a class="login-link" href="#">Forgot password?</a>
        </div>
        <div style="display:inline-block; width: 100%; margin: 20px 0; position: relative">
            <input id="remember-me" type="checkbox" class="regular-checkbox" style="float: left">
            <div style="    float: left;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    margin: 0 0 0 35px;"><label class="login-link" for="remember-me" style="cursor: pointer">Remember me</label></div>
        </div>
        <button class="login-btn">Log In</button>
        <div style="margin: 20px 0">
            <a class="login-link" href="#">No account? Register here</a>
        </div>
    </div>
</div>
