<app-menu></app-menu>
<div class="hero">
    <div class="hero-text-container">
        <div class="hero-center">
            <h1>ORCA gets you moving</h1>
                <p><span style="color: white">
                    By bus, train, or ferry - it's the simple way to get there. Getting a card is easy. Then just add value, tap, and ride with ORCA.
                </span></p>
            <button class="btn btn-medium">Get Started</button>
        </div>
    </div>
</div>
<div class="about-container">
    <div class="grid about">
        <div class="cell about-cell">
            <div class="about-svg cash-pass"></div>
            <p class="about-text">Use like cash to pay your fare. Store up to $300 on your ORCA card.</p>
        </div>
        <div class="cell about-cell">
            <div class="about-svg add-value"></div>
            <p class="about-text">Add value online, at ticket vending machines, or at partipating retailers.</p>
        </div>
        <div class="cell about-cell">
            <div class="about-svg track-transfer"></div>
            <p class="about-text">Your card tracks different fares and transfers automatically for a smoother transit.</p>
        </div>
    </div>
</div>
<div id="how-to" class="how-to-container">
    <h1 style="text-align: center">One Regional Card for All</h1>
    <p class="how-to-subtitle">Tap your card at the ORCA card reader located on the transit or nearest turnstile. If you are traveling by light rail or ferry,
      tap your card after exiting once you have reached your destination.
    </p>
    <div class="play-button-container">
        <a href="#overlay"><span class="play-button"></span></a>
    </div>
    <p class="play-button-subtitle">Video: See how it works</p>
</div>
<div class="footer">
    <div class="footer-line grid footer-grid">
        <div class="footer-cell">
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_privacy.pdf" target="_blank">Privacy</a> 
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_terms.pdf" target="_blank">Terms of Use</a> 
            <a class="footer-link" href="https://orcacard.com/ERG-Seattle/p2_002.do?m=42&i=kb.news" target="_blank">News</a> 
            <a class="footer-link" href="http://www.orcacard.biz/ERG-Seattle-Institution" target="_blank">Business Accounts</a>
        </div>
        <div class="footer-cell">
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_chinese.pdf" target="_blank">中文 | Chinese </a> 
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_korean.pdf" target="_blank">한국 | Korean </a> 
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_russian.pdf" target="_blank">Русский | Russian</a>  
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_spanish.pdf" target="_blank">Español | Spanish</a>  
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_tagalog.pdf" target="_blank">Tagalog</a> 
            <a class="footer-link" href="http://www.soundtransit.org/sites/default/files/orca_vietnamese.pdf" target="_blank">Tiếng việt | Vietnamese</a>
        </div>
    </div>
    <div class="footer-line">This site is not for actual use. It is for professional development only. Please go to <a class="footer-link" style="padding: 0" href="https://orcacard.com">orcacard.com</a></div>
    <div style="width: 100%"><img class="digi-cert" src="orca/assets/images/digicert.png"/></div>
</div>
<div id="overlay" class="overlay">
    <div class="popup">
        <!--<div style="padding: 20px 0;"><a class="close" href="#how-to" onclick="refreshVideo()">&times;</a></div>-->
        <div style="padding: 20px 0;"><a class="close" href="#how-to">&times;</a></div>
        <div class="content">
            <iframe id="tap-video" style="width: 100%; height: 75%;" src="https://www.youtube.com/embed/7gVIXZ0RVEo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
