div:focus, li:focus {
    outline:none;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 0.9em;
}

a:hover {
    color: teal;
}

h1, h2 {
    font-weight: normal;
}

p {
    margin-top: 0;
    line-height: 1.2;
    font-size: 1.2em;
}

.grid {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.btn {
    line-height: 1;
    height: 1.875rem;
    width: 6.25rem;
    color: #fff;
    background-color: #1b49a0;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.btn:hover {
    background-color: #0d338a;
}

.btn-white {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.btn-white:hover {
    background-color: white;
    color: teal;
    border-color: teal;
    border-width: 2px;
}

.regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    cursor: pointer;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
    margin: auto;
	top: 0px;
	left: 0px;
    right: 0px;
    bottom: 0px;
	color: #99a1a7;
}

.router-outlet {
    min-height: calc(100vh - 67px - 168px);
}

.filler {
    visibility: hidden;
}