<div class="hero">
    <div class="hero-text-container">
        <div class="hero-center">
            <h1 style="text-align: center">{{ heroText }}</h1>
                <p><span style="color: white">{{ heroSubText }}</span></p>
            <div style="text-align: center"><button class="btn">{{ getStarted }}</button></div>
        </div>
    </div>
</div>
<div id="how-to" class="how-to-container">
    <h1 style="text-align: center">{{ orca }}</h1>
    <p class="how-to-subtitle">{{ howTo }}</p>
    <div class="play-button-container">
        <a href="#overlay"><span class="play-button"></span></a>
    </div>
    <p class="play-button-subtitle">{{ video }}</p>
</div>
<div class="about-container">
    <div class="grid about">
        <div class="cell about-cell">
            <div class="about-svg cash-pass"></div>
            <p class="about-text">{{ cashPass }}</p>
        </div>
        <div class="cell about-cell">
            <div class="about-svg add-value"></div>
            <p class="about-text">{{ addValue }}</p>
        </div>
        <div class="cell about-cell">
            <div class="about-svg track-transfer"></div>
            <p class="about-text">{{ trackTransfer }}</p>
        </div>
    </div>
</div>
<div id="overlay" class="overlay">
    <div class="popup">
        <!--<div style="padding: 20px 0;"><a class="close" href="#how-to" onclick="refreshVideo()">&times;</a></div>-->
        <div style="padding: 20px 0;"><a class="close" href="#how-to">&times;</a></div>
        <div class="content">
            <iframe id="tap-video" style="width: 100%; height: 75%;" src="https://www.youtube.com/embed/7gVIXZ0RVEo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>