.top-container {
    box-shadow: 0 1px 6px 0px gainsboro;
    border-bottom: 0px;
    background: #fafafa;
}

.menu-item {
    font-size: 2em;
    padding: 0;
    color: #555555;
}

.btn-container {
    display: none;
}