<div class="hero-background">
    <div class="hero-container">
        <div class="c">
            <div class="d">
                <h1>Already have a registered card?</h1> 
                    <p><span style="color: white">
                      Create a My ORCA login to manage your cards. Create a username and password for your registered card. 
                      All RRFP ORCA cards for disabled or senior customers are registered upon receipt.</span></p>
                <button class="btn hero-btn" [routerLink]="['/get-a-card']">Create</button>
            </div>
        </div>
    </div>
</div>